
/* 画像のサイズ調整 */
img {
  width: 340px; /* 画像の幅 */
  height: auto; /* 画像の高さは自動で調整 */
  margin-bottom: 10px; /* 画像とテキストの間隔 */
}

.supplement {
  text-align: center;
  padding: 20px;
  margin-top: 0%;
}
.bodywhole a {
  text-decoration: none;
  color: black; /* リンクのテキスト色 */
  margin: 10px;
}

.hsk {
  border: 2px solid black; /* 枠線 */
  border-radius: 10px; /* 角の丸み */
  padding: 20px;
  text-align: center;
}
.hsk:hover {
  background-color: #f0f0f0; /* マウスオーバー時の背景色 */
}

.classstyle {
  color: black; /* テキスト色 */
  font-size: 1.2em; /* フォントサイズ */
  font-weight: bold; /* フォントの太さ */
}

@media screen and (max-width: 480px) {
  .header-wrapper {
    height: 240px; /* コンテナの高さ */
    padding-bottom: 8px;
  }
.supplement{
  top: 240px;
  margin-top: 8px;
  padding-top: 16px;
}
  img {
    width: 150px; /* 画像の幅 */
    
  }
  .bodywhole {
    height: 50vh; /* コンテナの高さ */
    bottom: 24px;
  }
  
}